VITE_API_URL=https://api.lms.buildyourbestself.org/api
VITE_MAIN_WEBSITE_URL=https://buildyourbestself.org
VITE_STUDENT_LOGIN_URL=https://lms.buildyourbestself.org/login
VITE_MENTOR_LOGIN_URL=https://mentor.lms.buildyourbestself.org/login
VITE_ADMIN_LOGIN_URL=https://admin.lms.buildyourbestself.org/login
VITE_BETA_TESTING_URL=https://lms.buildyourbestself.org/beta-testing
